
.wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 95vh;
    width: 100vw;

    .container {
        display: flex;
        flex-direction: row;
        opacity: 1;
        background-color: white;
        min-height: 80vh;
        background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
        );
        flex-wrap: wrap;
    
        /* padding: 10px;  */
        /* flex-wrap: wrap; */
    
        
        grid-column: 3 / 16;
        grid-row: 2 / 16 ;
        
        
        // margin-top: 50px;
      
        // margin-left: 90px;  
        box-shadow: 0 1px 7px 0 grey;
        border-radius: 0px;
        z-index: 10;  
    }



    
.side__nav{
    display: flex;
    flex-direction: column;
    background-color: rgba(31, 24, 2, 0.884);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    /* border-radius: 20px;
     */
    // position: relative;
    grid-row: 2 / 16;
    grid-column: 1 / 3 ;
   
}
}