body {
    background-image: linear-gradient(43deg, #fad1d1 20%, #e7bb41 46%, #fad1d1 100%);
    font-family: monospace; }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 95vh;
    width: 95vw; }
    .wrapper .container {
      display: flex;
      flex-direction: row;
      opacity: 1;
      background-color: white;
      min-height: 80vh;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
      flex-wrap: wrap;
      /* padding: 10px;  */
      /* flex-wrap: wrap; */
      grid-column: 3 / 16;
      grid-row: 2 / 16;
      box-shadow: 0 1px 7px 0 grey;
      border-radius: 0px;
      z-index: 10; }
    .wrapper .side__nav {
      display: flex;
      flex-direction: column;
      background-color: rgba(31, 24, 2, 0.884);
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
      /* border-radius: 20px;
       */
      grid-row: 2 / 16;
      grid-column: 1 / 3; }
  
  .userAccount {
    display: grid;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .userAccount .user__main {
      height: 9rem;
      border-radius: 9rem;
      width: 9rem; }
      .userAccount .user__main:hover {
        opacity: 0.4; }
  
  .navbar {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 60%;
    align-self: flex-end;
    width: 100%;
    border-top: 1px solid rgba(119, 93, 6, 0.884); }
  
  .item {
    display: grid;
    background-color: white;
    border-radius: 50px;
    color: rgba(31, 24, 2, 0.884);
    box-shadow: 0 1px 7px 0 silver;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 80%;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)); }
  
  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center; }
  
  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    transform: translateY(20%);
    list-style-type: none; }
    ul li a {
      position: relative;
      display: block;
      padding: 4px 0;
      font-size: 1.3rem;
      color: #ecf0f1;
      text-decoration: none;
      transition: 0.5s;
      justify-content: center;
      align-items: center;
      margin-top: 20%; }
      ul li a::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 20%;
        background: black;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s; }
      ul li a:hover {
        color: goldenrod;
        border: 1px solid gold;
        border-radius: 5px; }
      ul li a:hover::after {
        transform: scaleX(1);
        transform-origin: left; }
  
  .container__col1 {
    display: flex;
    flex-direction: column;
    width: 35%; }
  
  .container__col2 {
    display: flex;
    flex-direction: column;
    width: 35%; }
    .container__col2 .savings {
      height: 150%; }
  
  .container__col3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
  

    .progressBar{
      width: 100%;
      background-color: gold;
    }

    #bar{
      width: 1%;
      height: 30px;
      background-color: green;
    }